#results{
    color: #ffffff;
}

#title{
    margin-bottom: 20px;
}

.result-header {
    padding: 0.2em;
    color: #555555;
    background: #deeeec;
    border-bottom: solid 3px #ffffff;
}

#result-description {
    padding: 0px 10px;
    line-height: 1.8;
    text-align: start;
}

