body{
    text-align: center;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff; 
    font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif; 
}

.title{
    padding: 60px 0 0;
    margin-bottom: 60px;
    font-size: 1.5rem;
}

.fadeIn500ms {
    animation-name: fadeIn500ms;
    animation-delay: 500ms;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
    opacity: 0;
}

@keyframes fadeIn500ms {
    0% {
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.caption{
    font-size: 1rem;
    line-height: 2.2;
    margin-bottom: 36px;
}

.fadeIn1s {
    animation-name: fadeIn1s;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
    opacity: 0;
}
@keyframes fadeIn1s {
    0% {
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

input[type="date"] {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

.button{
    margin: 0 auto;
    margin-top: 75px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 20px 30px;
    font-size: 1.4rem;
    cursor: pointer; 
    width: 280px
}

.fadeIn1500ms {
    animation-name: fadeIn1500ms;
    animation-delay: 1500ms;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
    opacity: 0;
}

@keyframes fadeIn1500ms {
    0% {
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



