body{
    text-align: center;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff; 
    font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif; 
}

.title{
    padding: 60px 0 0;
    margin-bottom: 60px;
    font-size: 1.5rem;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: transparent;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
    color: inherit;
    opacity: 1;
}

.button{
    margin: 0 auto;
    margin-top: 75px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 20px 30px;
    font-size: 1.4rem;
    cursor: pointer; 
    width: 280px
}

