body {
    text-align: center;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff; 
    font-family: 'Arial', sans-serif; 
}

.navbar-toggler {
    margin-left: auto;
}

.bi-list {
    color: #fff;
    font-size: 2rem;
}

#offcanvasNavbar {
    width: 280px;
    padding: 1rem;
}

.btn-close {
    margin: 0 0 0 auto;
}

.nav-item {
    text-align: start;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    background-color: #0d6efd;
    color: #fff;
    font-weight: bold;
    border-radius: 5px; 
}

.en{
    font-family: 'Georgia', 'Times New Roman', serif;
}

.fadeIn500ms {
    animation-name: fadeIn500ms;
    animation-delay: 500ms;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
    opacity: 0;
}

@keyframes fadeIn500ms {
    0% {
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fadeIn1500ms {
    animation-name: fadeIn1500ms;
    animation-delay: 1500ms;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
    opacity: 0;
}

@keyframes fadeIn1500ms {
    0% {
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.button{
    margin-top: 75px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 20px 30px;
    font-size: 1.4rem;
    width: 280px;
}

.fadeIn2500ms {
    animation-name: fadeIn2500ms;
    animation-delay: 2500ms;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
    opacity: 0;
}

@keyframes fadeIn2500ms {
    0% {
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}






